apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ufbank

resources:
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- ingress.yaml

commonLabels:
  project: ufbank
  environment: development
